header{background-image: url(https://animerelleno.com/storage/animes/background/devilman-crybaby.jpg);}
h1{text-align: center;}
#luciano{width: 150px; height: 150px; }
#perfil{text-align: center;}
footer{text-align: center; background-color: crimson; color: white;}
.titulos{font-family: 'Roboto Condensed', sans-serif;}
.datos{font-family: 'Oswald', sans-serif;}
body{background-color: pink;}
h2{background-color: brown;}